<h3>Consumo Api Doctores</h3>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Doctores" asp-action="DoctoresClienteAjax">Doctores Cliente Ajax</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Doctores" asp-action="DoctoresServidor">Doctores Servidor </a>
    </li>
</ul>